<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Aura saves the covers you choose to keep to your photo library.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Aura connects to the music server on your local network that you configure.</string>
	<key>NSSiriUsageDescription</key>
	<string>Aura uses Siri so you can ask for an artist, an album, a song or a playlist out loud.</string>
	<key>INIntentsSupported</key>
	<array>
		<string>INPlayMediaIntent</string>
	</array>
	<key>INSupportedMediaCategories</key>
	<array>
		<string>INMediaCategoryMusic</string>
	</array>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Ora</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>ora</string>
		</dict>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>VavinCondensed-Regular-Latin.ttf</string>
		<string>VavinCondensed-Bold-Latin.ttf</string>
		<string>ArchivoXCondBlack.ttf</string>
		<string>ArchivoExpBlack.ttf</string>
		<string>ArchivoExpBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>CarPlay</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CarPlaySceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
